global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'paragonai'
    static_configs:
      - targets: ['api:8000']
    metrics_path: '/metrics'
    scheme: http
    scrape_interval: 15s